@use "../variables" as *;

@use "../base/mixins";

.page__section {

	@media (width < 1920px) {
		padding: 20px;
	}

	&-top {

		@media (width < 375px) {
			flex-direction: column;
		}

		.button {
			align-self: flex-end;

			@media (width < 375px) {
				width: 100%;
				margin-top: 32px;
				height: 44px;
			}

			@media (width < 1920px) {
				align-self: center;
			}
		}
	}

	&-bottom {

		&__list {
			margin: 0;
			padding: 0;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 32px;

			@media(width < 1920px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media(width < 375px) {
				display: flex;
				flex-direction: column;
			}
		}
	}
}

.jobs {
	background-color: $athens-gray;
}
