.navbar
 .content-wrapper
    img.navbar__logo(src="images/logo.svg")
    include navigation
    .navbar__action
      a.link(href="#") Post a job
      button(type="button").primary-button.button Log in
    button(type="button").navbar__burger-menu
      img.burger-menu-image(src="images/burger.svg")