nav.navbar__navigation
  ul.navbar__navigation__list
    li.navbar__navigation__list-item.active
      a.link(href="#") Home
    li.navbar__navigation__list-item
      a.link(href="#") Company
    li.navbar__navigation__list-item
      a.link(href="#") Blog