$primary: #443FDE;
$secondary: #F9F9FB;
$background: #FFF;
$main-text-color: #030407;
$main-paragraph-color: #3E404C;
$hover-color: #24262D;
$disabled: #B2B3BD;
$active-color: #4640DE;
$border-color: #EBEBEF;
$shuttle-gray: #606476;
$link-water: #F3F3FC;
$seashell-peach: #FEF7F1;
$tussok: #C98B40;
$athens-gray: #F9F9FB;
$green-pea: #246B49;
$harp: #F1F8F4;
$dusty-gray: #999;
$manatae: #84889A;
$dsty-gray: #999;
// $font: 'YS Text', Roboto, Helvetica, Arial, sans-serif;
// $titleFont: 'Garamond', sans-serif;
// $fontMono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
// $baseFontSize: 20px;
// $baseFontColor: #2F3951;

// $mainFontSize: 1.4em;
// $titleFontSize: 6em;
// $headerElementsSize: 3.5rem;
// $headerHeight: 5.5rem;

// $maxPageWidth: 1110px;
// $defaultPadding: 3rem;
// $extendedPadding: 4.75rem;

// $defaultBorder: 1px solid gray;
// $overlayBackground: rgba(0, 0, 0, 0.8);
// $borderRadius: 4rem;
